# If you make any changes to this file while the container is running, you will have to
# close the container and then re-open to observe changes.

services:
  db:
    image: mysql:latest
    volumes:
      - db_data:/var/lib/mysql
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${DB_NAME}
      MYSQL_USER: ${DB_USER}
      MYSQL_PASSWORD: ${DB_PASSWORD}

  wordpress:
    depends_on:
      - db
    build:
      context: .
      dockerfile: Dockerfile
    image: rivedge/wordpress-image:latest
    ports:
      - "${WEB_PORT}:80"
    extra_hosts:
      - "api.wordpress.org:198.143.164.251"
      - "downloads.wordpress.org:198.143.164.250"
    environment:
      WORDPRESS_DB_HOST: db
      WORDPRESS_DB_NAME: ${DB_NAME}
      WORDPRESS_DB_USER: ${DB_USER}
      WORDPRESS_DB_PASSWORD: ${DB_PASSWORD}
      WORDPRESS_DEBUG: "1" # A non-empty value enables WP_DEBUG in wp-config.php
    volumes:
      - type: bind
        source: "./WordPress/wp-content/"
        target: "/var/www/html/wp-content/"
      - type: bind
        source: "./wordpress.ini"
        target: "/usr/local/etc/php/conf.d/wordpress.ini"
      - type: bind
        source: "./wp-config.php"
        target: "/var/www/html/wp-config.php"
      # Custom plugins from local development
      - type: bind
        source: "./custom-plugins/to-tha-top"
        target: "/var/www/html/wp-content/plugins/to-tha-top"
      - type: bind
        source: "./custom-plugins/rivedge-image-slider"
        target: "/var/www/html/wp-content/plugins/rivedge-image-slider"

  my-wpcli:
    build:
      context: .
      dockerfile: Dockerfile.wpcli
    image: rivedge-wpcli:latest
    user: 1000:1000
    volumes_from:
      - wordpress
    volumes:
      - ./wpcli-entrypoint.sh:/usr/local/bin/wpcli-entrypoint.sh:ro
    links:
      - db:mysql
    environment:
      WORDPRESS_DB_HOST: db
      WORDPRESS_DB_NAME: ${DB_NAME}
      WORDPRESS_DB_USER: ${DB_USER}
      WORDPRESS_DB_PASSWORD: ${DB_PASSWORD}
    entrypoint: /usr/local/bin/wpcli-entrypoint.sh
    tty: true

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    ports:
      - "${PHP_MYADMIN_PORT}:80"  # You can change the first number (8080) to any port you prefer for accessing phpMyAdmin
    environment:
      PMA_HOST: db
      PMA_USER: ${DB_USER}
      PMA_PASSWORD: ${DB_PASSWORD}
    depends_on:
      - db

volumes:
  db_data: {}
